Repository trikset/trik-studio, pull requests merged in 2021-11, with the labels that each got.

#1461 Fix readOnly flags behavior
  plugins/robots/common/twoDModel/include/twoDModel/engine/view/twoDModelWidget.h
  plugins/robots/common/twoDModel/src/engine/items/curveItem.cpp
  plugins/robots/common/twoDModel/src/engine/items/curveItem.h
  plugins/robots/common/twoDModel/src/engine/model/sensorsConfiguration.cpp
  plugins/robots/common/twoDModel/src/engine/view/scene/twoDModelScene.cpp
  plugins/robots/common/twoDModel/src/engine/view/twoDModelWidget.cpp
  plugins/robots/common/twoDModel/src/engine/view/twoDModelWidget.ui
  plugins/robots/interpreters/interpreterCore/src/ui/exerciseExportDialog.cpp
  qrtranslations/fr/plugins/robots/twoDModel_fr.ts
  qrtranslations/ru/plugins/robots/twoDModel_ru.ts
  qrutils/graphicsUtils/abstractItem.h
  qrutils/graphicsUtils/itemPopup.cpp
Labels: 2D model

#1470 Add hull number for Trik Studio
  plugins/robots/interpreters/trikKitInterpreterCommon/include/trikKitInterpreterCommon/trikTextualInterpreter.h
  plugins/robots/interpreters/trikKitInterpreterCommon/src/trikAdditionalPreferences.cpp
  plugins/robots/interpreters/trikKitInterpreterCommon/src/trikAdditionalPreferences.ui
  plugins/robots/interpreters/trikKitInterpreterCommon/src/trikKitInterpreterPluginBase.cpp
  plugins/robots/interpreters/trikKitInterpreterCommon/src/trikTextualInterpreter.cpp
  qrtranslations/fr/plugins/robots/trikKitInterpreterCommon_fr.ts
  qrtranslations/ru/plugins/robots/trikKitInterpreterCommon_ru.ts
Labels: kit/TRIK, 2D model

#1473 Update examples
  plugins/robots/examples/examples/junior/Examples for school/Blackbox.tsj
  plugins/robots/examples/examples/junior/Examples for school/Coordinates.tsj
  plugins/robots/examples/examples/junior/Examples for school/Cup.tsj
  plugins/robots/examples/examples/junior/Examples for school/Make-up-a-word.tsj
  plugins/robots/examples/examples/junior/Examples for school/Math.tsj
  plugins/robots/examples/examples/junior/Examples for school/Moving.tsj
  plugins/robots/examples/examples/junior/Examples for school/Shading-squares-by-coordinates.tsj
  plugins/robots/examples/examples/junior/Examples for school/Sokoban.tsj
  plugins/robots/examples/examples/junior/Examples for school/Weight.tsj
  plugins/robots/examples/examples/junior/Examples for school/empty.svg
  plugins/robots/examples/examples/junior/Examples/Display-dialogue.tsj
  plugins/robots/examples/examples/junior/Examples/Display-pacman.tsj
  plugins/robots/examples/examples/junior/Examples/Display-stopwatch.tsj
  plugins/robots/examples/examples/junior/Examples/Display-traffic-light.tsj
  plugins/robots/examples/examples/junior/Examples/Distanse-sensor-detection.tsj
  plugins/robots/examples/examples/junior/Examples/Heart-pixel-art.tsj
  plugins/robots/examples/examples/junior/Examples/Light-sensor-color-brightness.tsj
  plugins/robots/examples/examples/junior/Examples/Light-sensor-detection.tsj
  plugins/robots/examples/examples/junior/Examples/Steps-to-cells-dragon.tsj
  plugins/robots/examples/examples/junior/Examples/Steps-to-cells-letter.tsj
  plugins/robots/examples/examples/junior/Examples/Subprogram-colored-square.tsj
  plugins/robots/examples/examples/junior/Examples/Subprogram-dotted-line.tsj
  plugins/robots/examples/examples/junior/Examples/Subprogram-with-argument-cycle-cpiral.tsj
Labels: junior

#1477 Fix file associations for macOS
  installer/build-trik-studio.sh
  qrgui/mainWindow/mainWindow.plist
Labels: junior
